* {
	font-family: Roboto;
	font-size: 20px;
	margin: 0px;
	padding: 0;

	/* Color variables */
	--light-gray: #F3F3F3;
	--dark-gray: #CCCCCC;
	--very-dark-gray: #434343;
	--main-accent: #3D85C6;
	--dim-accent: #CFE2F3;
	--red: #E87070;
	--yellow: #FFD450;
	--green: #67E690;
}
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--light-gray);
  border-radius: 100vh;
}
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 100vh;
}
::-webkit-scrollbar-thumb:hover {
  background: #777; 
}
@keyframes fade-in {
	from {
		opacity: 0;
	} to {
		opacity: 100%;
	}
}
@keyframes idle {
	from {
		opacity: 1;
	} to {
		opacity: 1;
	}
}
@keyframes hidden {
	from {
		opacity: 0;
	} to {
		opacity: 0;
	}
}
body {
	background-color: white;
}

/* Loading */
#loading {
	position: absolute;
	top: 0;
	left: 0;
	display: grid;
	align-items: center;
	grid-template-rows: 1fr 1fr 2fr;
	opacity: 1;
	background-color: white;
	height: 100vh;
	width: 100vw;
	transition: opacity 0.5s;
	color: rgb(63, 63, 63);
	z-index: 999;
}
#loading #logo {
	display: block;
	width: 270px;
	height: 270px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
#loading h1 {
	text-align: center;
}
#loading p {
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 50px;
}

/* Layout */
#body {
	display: grid;
	grid-template-columns: min-content auto;
}
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	outline: none;
	font-weight: 500;
	font-family: roboto;
	vertical-align: middle;
	color: #000000;
}
.nav {
	display: grid;
	background-color: #E8E8E8;
	width: min-content;
	--nav-width: min-content;
	height: 100vh;
	align-items: start;
	grid-template-areas: 
		'logo'
		'dash'
		'tasks'
		'space'
		'set';
	grid-template-rows: min-content repeat(2, minmax(50px, min-content)) auto minmax(50px, min-content);
}
.nav-item {
	display: grid;
	grid-template-columns: min-content min-content;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}
.nav img, .nav p {
	display: block;
	padding: 0px 3px;
	color: #434343;
	font-size: 20px;
	font-weight: bold;
}
.nav-item img {
	width: 50px;
	opacity: 50%;
}
.nav #logo {
	display: block;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	grid-area: logo;
	padding-bottom: 20px;
}
.nav-item:hover img{
	opacity: 40%
}
.nav-item:hover a{
	color: #616161;
}
.nav #dash {
	grid-area: dash;
}
.nav #tasks {
	grid-area: tasks;
}
.nav #settings {
	grid-area: set;
}
.container {
	display: block;
	margin: 3px;
}
.hidden {
	display: none !important;
}
header {
	grid-area: header;
	font-weight: bold;
	font-family: Lexend;
	font-size: 45px;
	color: var(--very-dark-gray);
	margin: 0px 20px;
	padding-top: 10px;
}

/* Date Input */
input[type=date] {
	border: none;
	border-bottom: solid 3px #797979;
	outline: none;
}
input[type=date]:hover {
	border-bottom: solid 3px #4d4d4d;
	cursor: pointer;
}
input[type=date]:focus {
	background-color: #e4e4e4;
	border-bottom: solid 3px #000000;
}

/* Text Input */
input[type=text] {
	border: none;
	border-bottom: 3px solid #797979;
	background-color: #ffffff;
	padding: 1px;
	font-size: 20px;
}
input[type=text]:hover {
	border-bottom: solid 3px #4d4d4d;
}
input[type=text]:focus {
	background-color: #e4e4e4;
	outline: none;
	border-bottom: solid 3px black;
}

/* Progress Bar */
.slider {
	-webkit-appearance: none;
	margin: 0px 5px;
	width: calc(100%-10px);
	height: 25px;
	background: var(--dark-gray);
	outline: none;
	-webkit-transition: .2s;
	transition: opacity .2s;
	overflow: hidden;
	border-radius: 10px;
	border: solid var(--dark-gray) 3px;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 0px;
	height: 0px;
	cursor: pointer;
	background: black;
	box-shadow: -1000px 0 0 1000px var(--main-accent);
}

.slider::-moz-range-thumb {
	width: 0px;
	height: 0px;
	cursor: pointer;
	box-shadow: -1000px 0 0 1000px var(--main-accent);
}

/* Toggle Button */
.tbutt ~ label {
	display: block;
	background-color: rgb(255, 71, 71);
	border-radius: 100px;
	padding: 10px;
	text-align: center;
	color: white;
	width: 50px;
	height: auto;
	user-select: none;
	transition: 0.5s;
}
.tbutt ~ label:before {
	content: "Off";
}
.tbutt:checked ~ label:before {
	content: "On";
}
.tbutt:checked ~ label {
	background-color: rgb(0, 190, 16);
}
.tbutt ~ label:hover {
	background-color:rgb(192, 53, 53);
}
.tbutt:checked ~ label:hover {
	background-color:rgb(1, 139, 12);
}

/* Super Check */
.scheck ~ label {
	font-family: "Lexend";
	display: block;
	background-color: #EFEFEF;
	border-radius: 100px;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 15px;
	margin: 10px;
	margin-right: 0px;
	text-align: center;
	color: white;
	width: 20px;
	height: 20px;
	user-select: none;
	transition: 0.5s;
}
.scheck ~ label {
	color: #EFEFEF;
	font-size: 20px;
}
.scheck:checked ~ label {
	color: rgb(0, 0, 0);
}
.scheck:checked ~ label {
	background-color: var(--green);
}
.scheck ~ label:hover {
	background-color: #dddddd;
	color: #dddddd;
}
.scheck:checked ~ label:hover {
	background-color:#5ac57c;
	color: rgb(0, 0, 0);
}

/* Toggle Switch */
.tslide-track {
	display: block;
	position: relative;
	background-color: rgb(179, 179, 179);
	border-radius: 100px;
	text-align: center;
	color: white;
	width: 70px;
	height: 30px;
	user-select: none;
}
.tslide-thumb {
	display: block;
	position: absolute;
	top: 2.5px;
	transform: translateX(2.5px);
	background-color: rgb(255, 71, 71);
	border-radius: 100px;
	text-align: center;
	color: white;
	width: 25px;
	height: 25px;
	user-select: none;
	transition: 0.5s;
}
.tslide:checked ~ .tslide-track .tslide-thumb{
	background-color: rgb(0, 190, 16);
	transform: translateX(42.5px);
}

/* Blocks */
.block-container {
	display: grid;
	gap: 5px;
	padding: 5px 20px;
	border-radius: 100px;
	grid-template-areas: 
		'a space b c';
	grid-template-columns: 300px minmax(100px, auto) 200px 400px;
	grid-template-rows: auto;
	background-color: var(--light-gray);
}
.a {
	grid-area: a;
	color: #000000;
	font-size: 25px;
	padding-top: 5px;
}
.b {
	grid-area: b;
	background-color: rgb(0, 136, 190);
}
.c {
	grid-area: c;
	background-color: rgb(0, 136, 190);
}
/* Timeline */
.timeline-container {
	display: grid;
	overflow: hidden;
	margin: 10px 0px;
	gap: 5px;
	grid-template-columns: repeat(7, minmax(30px, 1fr));
}
#timeline-lines {
	background-color: var(--light-gray);
}
.timeline-line {
	border-radius: 10px;
	margin: 0px 10px;
	width: calc(100% - 20px);
	background-color: var(--dim-accent);
	padding: 5px;
	grid-area: active;
	font-family: Lexend;
	font-size: 20px;
	text-align: center;
	white-space: nowrap;
}
.timeline-line p {
	text-overflow: ellipsis;
	overflow: hidden;
}
.timeline-line.left-over {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: 0px;
	width: calc(100% - 10px);
}
.timeline-line.right-over {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-right: 0px;
	width: calc(100% - 10px);
}
.timeline-line.overdue {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: 0px;
	background-color: var(--red);
}
/* Dashboard */
header {
	grid-area: header;
	font-family: Lexend;
	font-size: 45px;
	margin: 0px 20px;
}
.main {
	width: 100% !important;
	height: 100vh !important;
	overflow: scroll;
	scrollbar-width: none;
}
.main::-webkit-scrollbar {
	display: none;
}
.dash {
	display: grid;
	background-color: #ffffff;
	width: 100%;
	height: 100vh;
	grid-template-areas: 
		'header header'
		'today timeline'
		'links links';
	grid-template-rows: min-content auto min-content;
	grid-template-columns: 1fr 1.6fr;
	color: black;
}
.dash #today {
	grid-area: today;
	background-color: var(--dim-accent);
	margin: 10px;
	animation: 1s fade-in backwards;
	animation-delay: 0ms;
}
#today-container {
	margin-top: 10px;
	margin-left: 20px;
}
.dash h1, h2, h3 {
	font-family: Lexend;
	font-weight: bold;
	white-space: nowrap;
}
.dash h1 {
	font-size: 40px;
	font-weight: 700;
}
.dash h2 {
	font-size: 25px;
	font-weight: 700;
}
.dash h2+h2 {
	margin-top: 40px;
}
.dash #list {
	display: grid;
	grid-template-columns: min-content auto;
}
.dash #timeline {
	display: grid;
	grid-area: timeline;
	grid-template-areas: 
		'd1 d2 d3 d4 d5 d6 d7'
		'eee eee eee eee eee eee eee';
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: min-content auto;
	margin: 10px;
	animation: 1s fade-in backwards;
	animation-delay: 100ms;
}
.dash #timeline #alldone {
	font-family: Lexend;
	font-size: 30px;
	margin-top: 20px;
	text-align: center;
}
.dash .day {
	font-family: Roboto;
	font-size: 20px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: var(--main-accent);
}
.dash #task-name {
	display: grid;
	border-radius: 10px;
	height: 40px;
	margin: 10px;
	box-shadow:0px 0px 70px 0px #a2afbb; 
	background-color: #9FC5E8;
}
.dash #task-name div {
	grid-area: status;
	border-radius: 100px;
	background-color: #F4CCCC;
	margin: 5px;
	width: 30px;
	height: 30px;
}
.dash #task-name a {
	font-family: Lexend;
	font-size: 20px;
	margin: 5px 15px;
	white-space: nowrap;
}
.dash #links {
	display: grid;
	grid-area: links;
	grid-auto-columns: min-content;
	grid-auto-flow: column;
	background-color: var(--light-gray);
	margin: 10px;
	animation: 1s fade-in backwards;
	animation-delay: 200ms;
	overflow-y: hidden;
	overflow-x: auto
}
.dash #links a {
	display: block;
	width: min-content;
	margin: 5px;
	border: none;
	white-space: nowrap;
}
.dash #links div {
	display: grid;
	padding: 5px;
	grid-template-columns: 50px min-content;
	border-radius: 10px;
	height: 30px;
	width: min-content;
	background-color: var(--dim-accent);
}
.dash #links div:hover {
	background-color: #d9e6f1;
}
.dash #links div p {
	font-family: Lexend;
	margin: auto;
	margin-right: 10px;
	font-size: 20px;
}
.dash #links div img {
	margin: 0px 10px;
	width: 30px;
	height: 30px;
}

/* Tasks */
.tasks {
	position: relative;
	display: grid;
	grid-template-areas: 
		'header'
		'content';
	grid-template-rows: min-content auto;
	background-color: #ffffff;
}
.tasks .container {
	display: grid;
	grid-template-areas: 
		'labels'
		'items';
	grid-template-rows: min-content auto;
	gap: 5px;
}
.tasks .labels {
	display: grid;
	grid-template-columns: auto 170px 200px 100px;
	font-family: Lexend;
	background-color: #6FA8DC;
	grid-area: labels;
	margin: 10px;
	margin-bottom: 0px;
	padding: 15px 10px;
}
.tasks .labels p {
	font-size: 25px;
	margin: 0px 20px;
	font-weight: bold;
}
.tasks .items {
	display: grid;
	background-color: var(--light-gray);
	grid-area: items;
	grid-auto-flow: row;
	grid-auto-rows: min-content;
	margin: 10px;
	padding-top: 5px;
}
.tasks .items .item {
	display: grid;
	margin: 5px 10px;
	height: 40px;
	font-family: Lexend;
	grid-template-columns: auto 50px 50px;
	border-radius: 10px;
	background-color: var(--dim-accent);
}
.tasks .items .item .task-delete {
	opacity: 0%;
}
.tasks .items .item:hover .task-delete {
	opacity: 60%;
}
.tasks .items .item .task-delete:hover {
	opacity: 40%;
}
.tasks .items .item .task-edit:hover {
	opacity: 80% !important;
}
.tasks .items .item .task {
	display: grid;
	align-content: center;
	grid-template-columns: auto 170px 200px;
}
.tasks .items .item .task a {
	margin: 0px 20px;
	width: calc(100% - 40px);
	font-size: 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tasks .items .item .task .time {
	display: grid;
	align-content: center;
	justify-content: center;
	border-radius: 10px;
	font-size: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #93C47D;
}
.tasks .items .item .task .progress-container {
	align-self: stretch;
}
.tasks .items .item img {
	height: 30px;
	width: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	cursor: pointer;
}
.tasks .new-button {
	height: 40px;
	width: 40px;
	margin: 5px 10px;
	cursor: pointer;
}
.tasks .new-button:hover {
	opacity: 80%;
}
.tasks .edit {
	position: absolute;
	display: grid;
	align-content: center;
	justify-content: center;
	top: 0;
	right: 0;
	background-color: #66666683;
	width: 100%;
	height: 100vh;
}
.alert {
	display: grid;
	grid-template-rows: auto min-content;
	align-items: center;
	justify-items: center;
	background-color: var(--light-gray);
	border-radius: 10px;
	height: 200px;
	width: calc(100% - 40px);
	margin: 0px 20px;
}
.tasks .edit .alert .inputs {
	display: grid;
	margin: 0px 10px;
	grid-template-areas: "name start due link"
		"name-label start-label due-label link-label";
	grid-template-columns: minmax(150px, 3fr) repeat(2, minmax(100px, 2fr)) minmax(100px, 2fr);
}
.alert .inputs .input {
	margin: 0px 10px;
}
.alert .inputs p {
	font-family: Roboto;
	white-space: nowrap;
	margin: 0px 10px;
	margin-top: 10px;
	color: #666666;
	font-size: 20px;
}
.alert .buttons {
	display: grid;
	margin: 10px;
	grid-template-columns: min-content auto min-content min-content;
	width: 100%;
	height: min-content;
}
.alert .buttons button {
	font-size: 20px;
	font-family: Lexend;
	padding: 3px 30px;
	margin: 0px 5px;
	color: #ffffff;
	font-weight: bold;
	border-radius: 10px;
	border: none;
}
.alert .buttons button:hover {
	filter: brightness(95%);
}
.alert .buttons button:active {
	filter: brightness(90%);
}
.alert .buttons .delete {
	background-color: #E06666;
	margin-left: 20px;
}
.alert .buttons .cancel {
	background-color: #F1C232;
}
.alert .buttons .ok {
	background-color: #93C47D;
	margin-right: 20px;
}

/* Settings */
.settings {
	display: grid;
	position: relative;
	background-color: #ffffff;
	gap: 10px;
	grid-template-areas: 
		'header header'
		'curves links'
		'other links';
	grid-template-rows: min-content auto min-content;
	grid-template-columns: min-content 1fr;
	color: black;
}
.settings .settings-panel {
	background-color: var(--light-gray);
	font-family: "Lexend";
	padding: 10px;
}
.settings .settings-panel h2{
	font-weight: normal;
	font-size: 23px;
	margin-bottom: 5px;
	margin-left: 10px;
	font-weight: 500;
}
.settings .curves {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content min-content min-content;
	grid-template-areas:
		'header header'
		'a b'
		'c d';
	grid-area: curves;
	margin-left: 10px;
}
.settings .curves .header {
	grid-area: header;
	display: grid;
	grid-template-columns: auto min-content;
}
.settings .curves .question {
	position: relative;
	width: 15px;
	height: 15px;
	font-size: 12px;
	border-radius: 50%;
	border: solid 2px var(--very-dark-gray);
	text-align: center;
	line-height: 15px;
	font-weight: bold;
	margin: auto;
	cursor: default;
}
.settings .curves .question .tooltip {
	position: absolute;
	visibility: hidden;
	background-color: #D9D9D9;
	border-radius: 10px;
	padding: 10px;
	margin-top: 5px;
}
.settings .curves .question:hover .tooltip {
	visibility: visible;
	font-weight: normal;
	font-size: 15px;
	text-align: left;
	line-height: 20px;
	width: 30vw;
	padding: 15px;
}
.settings .curves .question:hover .tooltip h3 {
	margin-bottom: 10px;
}
.settings .curves .curve {
	display: grid;
	grid-template-rows: min-content min-content;
	cursor: pointer;
}
.settings .curves .curve:hover {
	opacity: 80%;
}
.settings .curves .curve img {
	width: 130px;
	height: 130px;
	margin: 10px;
}
.settings .curves .curve p {
	margin-top: -10px;
	font-size: 13px;
}
.settings .curves .curve {
	width: 100%;
	font-size: 15px;
	text-align: center;
}
.settings .link-select {
	grid-area: links;
	margin-right: 10px;
	margin-bottom: 10px;
}
.settings .link-select .new-button {
	height: 40px;
	width: 40px;
	margin: 5px 10px;
	cursor: pointer;
}
.settings .link-select .new-button:hover {
	opacity: 80%;
}
.settings .other {
	display: grid;
	grid-template-rows: min-content min-content auto min-content;
	grid-template-areas: 
		'header header'
		'p p'
		'spacer spacer'
		'delete view';
	grid-area: other;
	margin-left: 10px;
	margin-bottom: 10px;
}
.settings .other h2 {
	grid-area: header;
}
.settings .other p {
	grid-area: p;
	margin: 0px 10px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: normal;
}
.settings .other button {
	font-family: "Roboto";
	font-weight: bold;
	color: #ffffff;
	font-size: 17px;
	border-radius: 7px;
	padding: 5px;
	margin: 5px 10px;
	border: none;
}
.settings .other button:hover {
	opacity: 80%;
}
.settings .other .delete-data {
	background-color: #ED5E68;
	grid-area: delete;
}
.settings .other .view-source {
	background-color: #666666;
	grid-area: view;
}
.settings .items {
	display: grid;
	background-color: var(--light-gray);
	grid-area: items;
	grid-auto-flow: row;
	grid-auto-rows: min-content;
	margin: 5px;
	padding-top: 5px;
}
.settings .items .item {
	display: grid;
	margin: 5px 5px;
	height: 40px;
	font-family: Lexend;
	grid-template-columns: 50px auto 50px 50px;
	border-radius: 10px;
	background-color: var(--dim-accent);
}
.settings .items .item p {
	margin: auto 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.settings .items .item img {
	height: 30px;
	width: 30px;
	margin: auto;
	cursor: pointer;
}
.settings .items .item .link-edit:hover {
	opacity: 80%;
}
.settings .items .item .link-delete {
	opacity: 0%;
}
.settings .items .item:hover .link-delete {
	opacity: 60%;
}
.settings .items .item .link-delete:hover {
	opacity: 40%;
}
.settings .edit {
	position: absolute;
	display: none;
	display: grid;
	align-content: center;
	justify-content: center;
	top: 0;
	right: 0;
	background-color: #66666683;
	width: 100%;
	height: 100vh;
}
.settings .edit .alert .inputs {
	display: grid;
	margin: 0px 10px;
	grid-template-areas: "name link"
		"name-label link-label";
	grid-template-columns: minmax(min-content, 200px) minmax(min-content, 700px);
}
.settings .edit .alert .inputs .input {
	margin: 0px 10px;
}
.settings .edit .alert .inputs p {
	font-family: Roboto;
	white-space: nowrap;
	margin: 0px 10px;
	margin-top: 10px;
	color: #666666;
	font-size: 20px;
}
@media screen and (max-width: 800px) {
	.dash {
		grid-template-areas:
			'header'
			'today'
			'timeline'
			'links';
		grid-template-rows: min-content repeat(2, minmax(min-content, 1fr)) min-content;
		grid-template-columns: repeat(4, 100%);
	}
	.dash #links {
		display: none;
	}
	.nav-link{
		display: none;
	}
}
@media screen and (max-width: 500px) {
	#body {
		height: 100vh;
		grid-template-columns: auto;
		grid-template-rows: min-content auto;
	}
	.nav {
		grid-template-areas: 'logo dash tasks space set';
		grid-template-rows: min-content;
		grid-template-columns: min-content repeat(2, minmax(50px, min-content)) auto minmax(50px, min-content);
		height: min-content;
		width: auto;
		padding: 5px 0px;
	}
	.main {
		height: unset !important;
	}
}
