{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta property='og:title' content='Tuesday Technologies'/>
		<meta property='og:description' content='We make transparent, accessible, and useful tools for students. Our constantly evolving suite of apps help you get things done faster and with higher quality.'/>
		<meta property='og:url' content='https://tues.tech'/>

		<title>Tuesday Technologies</title>

		<link rel="icon" href="{% static 'Images/Favicon Light.png'%}" media="(prefers-color-scheme:no-preference)">
		<link rel="icon" href="{% static 'Images/Favicon Dark.png'%}"  media="(prefers-color-scheme:dark)">
		<link rel="icon" href="{% static 'Images/Favicon Light.png'%}" media="(prefers-color-scheme:light)">

		<link rel="stylesheet" href="{% static 'landing.css'%}">
	</head>
	<body>
		
		<div id="gradient-container">
			<svg id="svg" width="100%" height="765px" viewBox="0 20 80 100" preserveAspectRatio="none">
				<defs>
					<linearGradient id="Gradient1" x1="0" x2="1" y1="0" y2="2">
						<stop class="stop1" offset="0%"/>
						<stop class="stop2" offset="60%"/>
					</linearGradient>
					<style type="text/css">
						.stop1 { stop-color: #98D4FF; }
						.stop2 { stop-color: #F1BBFF; }
					</style>
				</defs>
				<clipPath id="myClip">
					<path id="gradient" d="M 0 0 h 100 v 100 h -100 v -100" vector-effect="non-scaling-stroke"/>
				</clipPath>
				<path id="path" d="M 0 0 h 100 v 80 c -8 7 -22 4 -29 0 s -15 -4 -23 0 s -19 4 -26 -1 s -17 -3 -22 1 v -80" vector-effect="non-scaling-stroke"/> 
				<use clip-path="url(#myClip)" xlink:href="#path" fill="url(#Gradient1)"/>
			</svg>

			<nav>
				<img src="{% static 'Images/Tuesday Logo Modern Angles.png'%}">
				<a href="#about">About</a>
				<a href="#products">Products</a>
				<a href="https://tues.tech/accounts/login" class="del-500">Log in</a>
			</nav>

			<div class="top-box">
				<h2>
					Tools for students,<br>
					by students
				</h2>
				<p>Tuesday helps you take control over
					your work, effortlessly manage your
					time, and build executive functioning
					skills, all for free.
				</p>
				<button onclick="javascript:window.location.href = 'https://tues.tech/accounts/login/?next=/app/'">Get Started</button>
			</div>
		</div>

		<div class="main">
			<div class="text-panel panel" id="about">
				<h3>Who we are</h3>
				<p>We are value <strong>transparency</strong>, <strong>utility</strong>, and <strong>accessibility</strong>. That means there will never be any ads or pricetags on any of our products. Everything will always be made with the interests of students in mind, and we will open source as much as possible.</p>
			</div>
			<div class="right image-panel panel" id="products">
				<h3>Work Management</h3>
				<p>We will help you get things done. Customize your dashboard to show only the information you need. You will have smart algorithms, insightful visualizations, and research-proven techniques, all in one place.</p>
				<img src="{% static 'Images/Dash Image.svg'%}">
				<button onclick="javascript:window.location.href = 'https://tues.tech/accounts/login/?next=/app/'">Get Started</button>
			</div>
			<div class="left image-panel panel">
				<h3>Data analysis</h3>
				<p>Working with data can be hard, but it doesn't have to be. You can design and train advanced neural networks to fit your needs, all without writing a single line of code.</p>
				<img src="{% static 'Images/ML Image.svg'%}">
				<button onclick="javascript:window.location.href = 'https://tues.tech/ml'">Join Beta</button>
			</div>
			<div class="text-panel panel">
				<h3 id="test">Support us</h3>
				<p>If you want to get involved or just want to support our work, that's great! We aren't accepting donations, but you can still contribute. Feedback, insights, and suggestions are invaluable to us and would be greatly appreciated.</p>
				<button onclick="javascript:window.location.href = 'mailto:contact@tues.tech?subject=Contact'">Contact</button>
			</div>
		</div>

		<footer>
			<a href="https://tues.tech/privacy">Privacy</a>
			<a href="https://github.com/Tuestech/code/blob/main/LICENSE">License</a>
			<a href="https://github.com/Tuestech/code">Github</a>
			<a href="mailto:contact@tues.tech?subject=Contact">Contact</a>
		</footer>

		<script type="text/javascript">
			window.addEventListener("scroll", scroll);
			function scroll() {
				var scrollpercent = Math.min(document.body.scrollTop + document.documentElement.scrollTop, 500) / 500;
				if (scrollpercent == 0) {
					window.location.hash = "";
				}
				document.getElementById("svg").setAttribute("viewBox", scrollpercent*20+" 20 80 100")
			}
		</script>

	</body>
</html>
