{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <base target="_self">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Tuesday - App</title>

		<link rel="icon" href="{% static 'Images/Favicon Light.png'%}" media="(prefers-color-scheme:no-preference)">
		<link rel="icon" href="{% static 'Images/Favicon Dark.png'%}"  media="(prefers-color-scheme:dark)">
		<link rel="icon" href="{% static 'Images/Favicon Light.png'%}" media="(prefers-color-scheme:light)">

    <link rel="stylesheet" href="{% static 'Lexend.css'%}">
    <link rel="stylesheet" href="{% static 'Roboto.css'%}">
    <link rel="stylesheet" href="{% static 'styles.css'%}">
  </head>
  <body onbeforeunload="unload()">
		<form action="editdata" method="post" style="display: none;" id="form">
			{% csrf_token %}
			<input type="text" name="uid">
			<input type="text" name="data">
		</form>
		<div id="data" style="display: none;">{{data}}</div>
		<div id="uid" style="display: none;">{{uid}}</div>
    <div id="loading">
      <div></div>
      <div>
        <img id = "logo" src="{% static 'Images/Tuesday Logo Modern Angles with Box (gray).png'%}">
        <h1>Loading...</h1>
        <p>Not working? Try a <a href="https://tues.tech/reset/confirm">full reset</a>.</p>
      </div>
      <div></div>
    </div>
    <div id="body">
      <div class="nav">
        <img id = "logo" src="{% static 'Images/Tuesday Logo Modern Angles with Box (gray).png'%}">
        <div onclick="setPage('dash')" class="nav-item" id = "dash">
          <img src="{% static 'Images/Google Dashboard Icon.png'%}">
          <p class="nav-link">Dashboard</p>
        </div>
        <div onclick="setPage('tasks')" class="nav-item" id = "tasks">
          <img src="{% static 'Images/Google Tasks Icon.png'%}">
          <p class="nav-link">Tasks</p>
        </div>
				<div onclick="setPage('timer')" class="nav-item" id = "timer">
          <img src="{% static 'Images/timer.svg'%}">
          <p class="nav-link">Timer</p>
        </div>
        <div onclick="setPage('settings')" class="nav-item" id = "settings">
          <img src="{% static 'Images/Google Settings Icon.png'%}">
          <p class="nav-link">Settings</p>
        </div>
      </div>
      <div id = "dash body" class="dash main" style="display: none;">
        <header>Dashboard</header>
        <div id="today">
          <div id="today-container">
            <h1>Today</h1>
            <h2 id="date">Sun, May 30</h2>
            <h2>Tasks:</h2>
          </div>
          <div id="list">
            <div>
              <input class = "scheck hidden" type="checkbox" id = "butt2">
				      <label for = "butt2">✔</label>
            </div>
            <div id = 'task-name'><a href='https://www.google.com' target='_blank'>Name</a><div style='background-color: #F4CCCC;'></div></div>
          </div>
        </div>
        <div id="timeline">
          <div id="d0" class="day" style="grid-area: d1;">a</div>
          <div id="d1" class="day" style="grid-area: d2;">a</div>
          <div id="d2" class="day" style="grid-area: d3;">a</div>
          <div id="d3" class="day" style="grid-area: d4;">a</div>
          <div id="d4" class="day" style="grid-area: d5;">a</div>
          <div id="d5" class="day" style="grid-area: d6;">a</div>
          <div id="d6" class="day" style="grid-area: d7;">a</div>
          <div id="timeline-lines" style="grid-area: eee;">
            <div class="timeline-container" style="grid-template-areas: 'n n n active active active m';">
              <div class="timeline-line"></div>
            </div>
          </div>
        </div>
        <div id="links">
          <a href="https://www.google.com" target="_blank"><div><img src="{% static 'Images/Google Dashboard Icon.png'%}"><p>asdfasdf</p></div></a>
        </div>
      </div>
      <div id = "tasks body" class="tasks main" style="display: none;">
				<header>Tasks</header>
				<div class="container">
					<div class="labels">
						<p>Name</p>
						<p>Time</p>
						<p>Progress</p>
					</div>
					<div id="tasks-items" class="items">
						<div class="item">
							<div class="task">
								<a>this</a>
								<div class="time">3 days left</div>
								<div onwheel="scrollslide(event)" class="progress-container"><div class="progress-bar"></div></div>
							</div>
							<img src="{% static 'Images/Google Edit Icon.png'%}" class="task-edit">
							<img src="{% static 'Images/Google Delete Icon.png'%}" class="task-delete">
						</div>
            <img src="{% static 'Images/New Button.png'%}" class="new-button">
					</div>
				</div>
				<div id="edit-overlay" class="edit" style="display: none;">
					<div class="alert">
						<div class="inputs">
							<input type="text" class="input" id="name-input" style="grid-area: name;"></input><p style="grid-area: name-label">Task Name</p>
							<input type="date" class="input" id="start-input" style="grid-area: start;"></input><p style="grid-area: start-label">Start Date</p>
							<input type="date" class="input" id="due-input" style="grid-area: due;"></input><p style="grid-area: due-label">Due Date</p>
							<input type="text" class="input" id="link-input" style="grid-area: link;"></input><p style="grid-area: link-label">Link</p>
						</div>
						<div class="buttons">
							<button class="delete" id="edit-delete">Delete</button>
							<div></div>
							<button class="cancel" onclick="closeOverlay()">Cancel</button>
							<button class="ok" id="ok">OK</button>
						</div>
					</div>
				</div>
			</div>
			<div id="timer body" class="timer main" style="display: none;">
				<header>Timer</header>
				<div class="panel" id="sequence">
					<h2>Sequence</h2>
					<button onclick="ding(0)" id="0" data-minutes="25" class="card">
						<h3>Work</h3>
						<p>25 minutes</p>
					</button>
					<button onclick="ding(1)" id="1" data-minutes="5" class="card">
						<h3>Break</h3>
						<p>5 minutes</p>
					</button>
					<button onclick="ding(2)" id="2" data-minutes="25" class="card">
						<h3>Work</h3>
						<p>25 minute</p>
					</button>
					<button onclick="ding(3)" id="3" data-minutes="5" class="card">
						<h3>Break</h3>
						<p>5 minutes</p>
					</button>
					<button onclick="ding(4)" id="4" data-minutes="25" class="card">
						<h3>Work</h3>
						<p>25 minute</p>
					</button>
					<button onclick="ding(5)" id="5" data-minutes="5" class="card">
						<h3>Break</h3>
						<p>5 minutes</p>
					</button>
					<button onclick="ding(6)" id="6" data-minutes="25" class="card">
						<h3>Work</h3>
						<p>25 minute</p>
					</button>
					<button onclick="ding(7)" id="7" data-minutes="30" class="card">
						<h3>Break</h3>
						<p>30 minutes</p>
					</button>
				</div>
				<div class="panel" id="time">
					<h3 class="ticker" style="grid-area: time" id="ticker">25:00</h3>
					<button class="timer-nav" style="grid-area: back;" onclick="nextTimer(true)"><img src="/static/Images/fast_rewind.svg"></button>
					<button class="timer-nav play-pause" style="grid-area: pause;" onclick="pauseTimer()"><img id="pause-img" src="/static/Images/play.svg"></button>
					<button class="timer-nav" style="grid-area: forward;" onclick="nextTimer()"><img src="/static/Images/fast_forward.svg"></button>
				</div>
			</div>
      <div id = "settings body" class="settings main" style="display: none;">
        <header>Settings</header>
				<div class="curves settings-panel">
					<div class="header">
						<h2>Progress Curve</h2>
						<div class="question">?
              <div class="tooltip">
                <h3>What are progress curves?</h3>
                Progress curves are a way of representing how much of a task is done over time.<br><br>
                Options 1 and 3 means that you do more work earlier on while still making steady progress until the due date. Option 3 is more aggressively ahead of schedule.<br><br>
                Option 2 means that you do the same amount of work every day until the due date.<br><br>
                Do not pick option 4.
              </div>
						</div>
					</div>
					<div class="curve">
						<img id="img0" onclick="setScoreType(0)" src="{% static 'Images/prog_curve option 1 blue.png'%}">
						<p id="0" class="1. Recommended">1. Recommended</p>
					</div>
					<div class="curve">
						<img id="img1" onclick="setScoreType(1)" src="{% static 'Images/prog_curve option 2 blue.png'%}">
						<p id="1" class="2. Average">2. Average</p>
					</div>
					<div class="curve">
						<img id="img2" onclick="setScoreType(2)" src="{% static 'Images/prog_curve option 3 blue.png'%}">
						<p id="2" class="3. Get Ahead">3. Get Ahead</p>
					</div>
					<div class="curve">
						<img onclick="setScoreType(3)" src="{% static 'Images/prog_curve option 4 blue.png'%}">
						<p id="procrastinator">4. Procrastinator</p>
					</div>
				</div>
				<div class="link-select settings-panel">
					<h2>Quick Access Links:</h2>
					<div id="settings-links" class="items">
						<div class="item">
							<img src="{% static 'Images/Google Web Icon.png'%}">
							<p>Link</p>
							<img class="link-edit" src="{% static 'Images/New_Edit_Button.png'%}">
							<img class="link-delete" src="{% static 'Images/New_Delete_Button.png'%}">
						</div>
						<div class="item">
							<img src="{% static 'Images/Google Web Icon.png'%}">
							<p>Link</p>
							<img class="link-edit" src="{% static 'Images/New_Edit_Button.png'%}">
							<img class="link-delete" src="{% static 'Images/New_Delete_Button.png'%}">
						</div>
					</div>
          <img onclick="newLink()" src="{% static 'Images/New Button.png'%}" class="new-button">
				</div>
				<div class="other settings-panel">
					<h2>Other</h2>
					<p>
						Tuesday is open source! If you want suggest features, report bugs, or just have a look code, click “View source.”
						<br>
						If something goes wrong, you can also delete your data for a fresh start.
					</p>
					<button onclick="deleteAll()" id="delete-data" class="delete-data">Delete All Data</button>
					<button onclick="window.open('https://github.com/Tuestech/code', '_blank');" class="view-source">View Source</button>
				</div>
        <div id="link-edit-overlay" class="edit" style="display: none">
          <div class="alert">
						<div class="inputs">
							<input type="text" class="input" id="link-name-input" style="grid-area: name;"></input><p style="grid-area: name-label">Name</p>
							<input type="text" class="input" id="link-link-input" style="grid-area: link;"></input><p style="grid-area: link-label">Link</p>
						</div>
						<div class="buttons">
							<button class="delete" id="link-edit-delete">Delete</button>
							<div></div>
							<button class="cancel" onclick="closeLinkOverlay()">Cancel</button>
							<button class="ok" id="link-ok">OK</button>
						</div>
					</div>
        </div>
      </div>
    </div>
		<script>
			// Service worker
			if ('serviceWorker' in navigator) {
				window.addEventListener('load', function() {
					navigator.serviceWorker.getRegistrations().then(function(registrations) {
						console.log("Deleting")
						for(let registration of registrations) {
							registration.unregister()
						}
					}).catch(
						function(err) {
							console.log(err)
						}
					)
					// navigator.serviceWorker.register('/sw8.js').then(function(registration) {
					// 	console.log('ServiceWorker registered')
					// 	navigator.serviceWorker.getRegistrations().then(function(registrations) {
					// 		console.log("Updating")
					// 		for(let registration of registrations) {
					// 			registration.unregister()
					// 		}
					// 		navigator.serviceWorker.register('/sw8.js').then(
					// 			function(registration) {
					// 				console.log("Updated")
					// 			}).catch(
					// 			function(err) {
					// 				console.log("Update failed")
					// 			}
					// 		)
					// 	})
					// }, function(err) {
					// 	console.log('ServiceWorker registration failed: ', err)
					// })
				})
			}
		</script>
    <script type="text/javascript" src="{% static 'script.js'%}"></script>
  </body>
</html>
